# make artifacts
*.cmd
*.d
*.ko
*.mod
*.mod.c
*.o
modules.order
/Module.symvers

# debuild artifacts
/debian/*.debhelper
/debian/*.debhelper.log
/debian/*.substvars
/debian/debhelper-build-stamp
/debian/files
/debian/tuxedo-drivers
/debian/tuxedo-keyboard
/debian/tuxedo-keyboard-ite

# rpmbuild artifacts
/src/dkms.conf
/tuxedo-drivers.spec

# IDE artifacts
*.kate-swp
/*.kdev4
/.vscode
