# make artifacts
*.cmd
*.d
*.ko
*.mod
*.mod.c
*.o
modules.order
/Module.symvers

# debuild artifacts
/debian/*.debhelper
/debian/*.debhelper.log
/debian/*.substvars
/debian/debhelper-build-stamp
/debian/files
/debian/lwl-cc-wmi
/debian/lwl-drivers
/debian/lwl-keyboard
/debian/lwl-keyboard-dkms
/debian/lwl-keyboard-ite
/debian/lwl-touchpad-fix
/debian/lwl-wmi-dkms
/debian/lwl-xp-xc-airplane-mode-fix
/debian/lwl-xp-xc-touchpad-key-fix

# rpmbuild artifacts
/src/dkms.conf
/lwl-drivers.spec

# IDE artifacts
*.kate-swp
/*.kdev4
/.vscode
