# make artifacts
*.cmd
*.ko
*.mod
*.mod.c
*.o
*.o.d
modules.order
Module.symvers

# debuild artifacts
/debian/*.debhelper
/debian/*.debhelper.log
/debian/*.substvars
/debian/debhelper-build-stamp
/debian/files
/debian/tuxedo-drivers

# rpmbuild artifacts
/src/dkms.conf
/tuxedo-drivers.spec

# IDE artifacts
*.kate-swp
/*.kdev4
/.vscode
