Source: lwl-drivers
Section: devel
Priority: optional
Maintainer: LWL Computers GmbH <tux@lwlcomputers.com>
Build-Depends: debhelper-compat (= 13), dh-sequence-dkms
Rules-Requires-Root: no
Standards-Version: 4.6.0
Homepage: https://lwlcomputers.com
Vcs-Browser: https://github.com/lwlcomputers/lwl-drivers
Vcs-Git: https://github.com/lwlcomputers/lwl-drivers.git

Package: lwl-drivers
Architecture: all
Depends: ${misc:Depends}
Provides: lwl-keyboard (= 4.0.0)
Replaces: lwl-cc-wmi (<< 4.0.0~), lwl-keyboard (<< 4.0.0~),
 lwl-keyboard-dkms (<< 4.0.0~), lwl-keyboard-ite (<< 4.0.0~),
 lwl-touchpad-fix (<< 4.0.0~), lwl-wmi-dkms (<< 4.0.0~),
 lwl-xp-xc-airplane-mode-fix (<< 4.0.0~),
 lwl-xp-xc-touchpad-key-fix (<< 4.0.0~)
Breaks: lwl-cc-wmi (<< 4.0.0~), lwl-keyboard (<< 4.0.0~),
 lwl-keyboard-dkms (<< 4.0.0~), lwl-keyboard-ite (<< 4.0.0~),
 lwl-touchpad-fix (<< 4.0.0~), lwl-wmi-dkms (<< 4.0.0~),
 lwl-xp-xc-airplane-mode-fix (<< 4.0.0~),
 lwl-xp-xc-touchpad-key-fix (<< 4.0.0~)
Description: Kernel modules for LWL devices
 Drivers for several platform devices for LWL notebooks meant for DKMS.
