Package: module-name
Version: x.x.x
Section: admin
Priority: optional
Depends: dkms (>= 1.95)
Provides: tuxedo-keyboard (= x.x.x)
Replaces: tuxedo-cc-wmi, tuxedo-keyboard (<< 4.0.0~), tuxedo_keyboard, tuxedo-keyboard-dkms, tuxedo-keyboard-ite (<< 4.0.0~), tuxedo-touchpad-fix, tuxedo-wmi-dkms, tuxedo-xp-xc-airplane-mode-fix, tuxedo-xp-xc-touchpad-key-fix
Breaks: tuxedo-cc-wmi, tuxedo-keyboard (<< 4.0.0~), tuxedo_keyboard, tuxedo-keyboard-dkms, tuxedo-keyboard-ite (<< 4.0.0~), tuxedo-touchpad-fix, tuxedo-wmi-dkms, tuxedo-xp-xc-airplane-mode-fix, tuxedo-xp-xc-touchpad-key-fix
Maintainer: TUXEDO Computers GmbH <tux@tuxedocomputers.com>
Homepage: https://www.tuxedocomputers.com
Architecture: all
Description: Kernel modules for TUXEDO devices
 Drivers for several platform devices for TUXEDO notebooks meant for DKMS
 framework.
